* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

body {
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
}

header {
  background-color: #FFE521;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
}

nav {
  display: inline-block;
  position: absolute;
  top: 81px;
  width: 15%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 84%;
  height: 500px;
  position: absolute;
  left: 208px;
  top: 82px;
}

#placeholder {
font-weight: 700;
color: #979797;
font-size: 22px;
text-align: center;
align-self: center;
position: relative;
left: -95px;
}

i {
  font-size: 46px;
}

#menu-button {
  font-weight: 600;
  width: 202px;
  height: 40px;
  border: none;
  background-color: #FFE521;
  font-weight: 600;
  font-size: 21px;
}

#menu-list {
  list-style: none;
  width: 250px;
  position: relative;
  top: -16px;
  left: -48px;
  background-color: #F5F5F5;
}

.list-button {
  font-weight: 600;
  border: none;
  width: 209px;
  padding: 5px;
  font-size: 14px;
  background-color: transparent;
  margin-bottom: -6px;
}

.list-button:hover, .list-button:focus {
  background-color: #FF009E;
  color: #FFFFFF;
}

h2 {

}

.div-content {
  margin-right: 68px;
}