

header {
	background-color: yellow;
}

nav {
	display: inline-block;
	background-color: gray;
	width: 200px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

main {
	display: inline-block;
	background-color: #b3c1d1;
	width: 84%;
	height: 500px;
}

#menu-button {
	width: 60px;
	height: 40px;
}

.list-button {
	width: 100px;
}

hr {
	width: 15px;
}